.about {
  margin-top: 2rem;
}

.about header {
  margin-bottom: 1rem;
}

.about header h1 {
  font-size: 2rem;
  color: var(--text);
}

.card {
  margin-bottom: 1rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}