/* Horizontal rule styling for spacing */
.projects hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Styling for the information section */
.info {
  display: flex;
  justify-content: space-between; /* Distribui os elementos igualmente */
  align-items: center;
  gap: 2rem;
  width: 100%; /* Garante que ocupe a largura do slide */
}

/* Gradient overlay for carousel slides */
.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%; /* Define a altura do gradiente */
  background: linear-gradient(to top, black, transparent); /* Gradiente de branco para transparente */
}

/* Content container styling */
.content {
  margin-bottom: 2rem;
}