.footer {
  padding: 2rem;
}

.footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
  border: 10px solid #007bff; /* Cor de borda alinhada com o Bootstrap */
  padding: 10px;
  border-radius: 100%;
}

.footer .column p {
  color: #6c757d; /* Cor de texto alinhada com o Bootstrap */
  margin-bottom: 2rem;
}

.footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .column .socials a {
  color: #6c757d; /* Cor de texto alinhada com o Bootstrap */
  border: 1px solid #6c757d; /* Cor de borda alinhada com o Bootstrap */
  padding: 10px; /* Ajuste do padding para ícones */
  border-radius: 100%;
  transition: all 0.3s ease;
}

.footer .column .socials a:hover {
  color: #ffffff;
  background-color: #007bff; /* Cor de fundo alinhada com o Bootstrap */
  border-color: #007bff; /* Cor de borda alinhada com o Bootstrap */
}

.footer .column h4 {
  color: #343a40; /* Cor de texto alinhada com o Bootstrap */
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer .column > a {
  display: block;
  color: #6c757d; /* Cor de texto alinhada com o Bootstrap */
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.footer .column > a:hover {
  color: #007bff; /* Cor de texto alinhada com o Bootstrap */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}