.home {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.content {
  padding-left: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
}

.content h4 {
  margin-bottom: 1rem;
  color: var(--text-highlight);
  font-size: 1rem;
  font-weight: 600;
}

.content h1 {
  color: var(--text-highlight);
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-highlight);
}

.content p {
  margin-bottom: 2rem;
  color: var(--text-highlight);
}

.image {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  z-index: 1;
}

.image img {
  width: 28.125rem;
  margin: auto;
  border-radius: 1rem;
}